* {
    margin: 0;
    padding: 0;
}

body {
    background: #E1D4C9;
    max-width: 1360px;
    margin: auto;
    padding: 0 40px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #E1D4C9;
    display: flex;
    justify-content: space-between;
}

header .head {
    width: 100%;
    margin: auto;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

header nav p {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: #403F3D;
}

header .left_header {
    display: flex;
    align-items: center;
}

header .left_header img {
    display: block;
    width: 20px;
    height: 20px;
}

header .menu1 {
    display: none;
}

main .section1 h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    color: #403F3D;
    margin-top: 85px;
}

main .section1 h1 span {
    font-family: Inter;
    font-weight: 600;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    color: #B0907A;
}

main .section1 .buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

main .section1 .button {
    width: 115px;
    height: 46px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: #E1D4C9;
    display: flex;
    align-items: center;
}

main .section1 .button:hover {
    width: 115px;
    height: 46px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: #665F55;
    display: flex;
    align-items: center;

    & .left {
        background: #E1D4C9;
    }

    & .right {
        color: #E1D4C9;
    }
}

main .section1 .button .left {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}


main .section1 .button .right {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: #403F3D;
}

main .section1 .containerDrink {
    max-width: 1360px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

main .section1 .containerDrink .container {
    display: flex;
    flex-direction: column;
    border: 1px solid #c1b6ad;
    border-radius: 40px;
    max-width: 308px;
    height: 506px;
}

main .section1 .containerDrink .container .image_1 {
    width: 100%;
    max-height: 310px;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-size: cover;
    position: static;
    z-index: -2;
}


main .section1 .containerDrink .container .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


main .section1 .containerDrink .container .info h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    color: #403F3D;
    margin-bottom: 12px;
}

main .section1 .containerDrink .container .info p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #403F3D;
    padding-left: 0;
    margin: 0;
}

main .section1 .container .price {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    color: #403F3D;
    padding-left: 20px;
    margin-bottom: 20px;
}

main .section1 .collapse {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #665F55;
    display: none;
}

main .section1 .modal {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;



    .cart {
        display: flex;
        gap: 20px;
        position: fixed;
        top: 110px;
        left: 0;
        right: 0;
        max-width: 800px;
        margin: 0 auto;
        background: #E1D4C9;
        padding: 16px;
        border-radius: 40px;

        img {
            max-width: 310px;
            max-height: 310px;
        }

        .right h3 {
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 24px;
            line-height: 125%;
            padding-bottom: 12px;
            color: #403F3D;

        }

        .right p, .sizeBtn button, .additivesBtn button {
            font-family: Inter;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 150%;
            color: #403F3D;
            padding-bottom: 20px;
        }

        .sizeBtn button, .additivesBtn button {
            height: 46px;
            padding-top: 8px;
            padding-right: 16px;
            padding-bottom: 8px;
            padding-left: 8px;
            gap: 8px;
            border-radius: 100px;
            border-width: 1px;
            border: 1px solid #C1B6AD;
            background-color: transparent;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                background: #C1B6AD;
                color: #403F3D;
            }
        }

        .sizeBtn .active, .additivesBtn .active {
            height: 46px;
            padding-top: 8px;
            padding-right: 16px;
            padding-bottom: 8px;
            padding-left: 8px;
            gap: 8px;
            border-radius: 100px;
            border-width: 1px;
            background: #665F55;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 150%;
            color: #E1D4C9;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                background: #E1D4C9;

            }

        }

        .total {
            display: flex;
            justify-content: space-between;

            p, .price {
                font-family: Inter;
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 24px;
                line-height: 125%;
                color: #403F3D;
                margin-bottom: 20px;
            }
        }

        .line {
            border-top: 1px solid #C1B6AD;
            height: 1px;
            width: 100%;
            margin-bottom: 12px;
        }

        .miniInfo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-bottom: 32px;

            img {
                width: 16px;
                height: 16px;
            }

            h5 {
                font-family: Inter;
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 10px;
                line-height: 140%;
                vertical-align: middle;
                color: #403F3D;

            }

        }

        .close {
            width: 438px;
            padding-top: 10px;
            padding-right: 78px;
            padding-bottom: 10px;
            padding-left: 78px;
            border-radius: 100px;
            border-width: 1px;
            background-color: transparent;
            border: 1px solid #665F55;
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #403F3D;

        }
    }
}


footer {
    background: #665F55;
    max-width: 1360px;
    border-radius: 40px;
    margin-top: 100px;
    display: flex;
    gap: 100px;
    margin-bottom: 40px;
}

footer .left {
    margin: 100px;
    display: flex;
    flex-direction: column;
}

footer .left .socials {
    margin: 0;
}

footer .left .socials div {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-top: 40px;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .left .socials div :hover {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #E1D4C9;
    background: #E1D4C9;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .left .socials .twitter :hover {
    width: 24px;
    height: 24px;
    content: url(imgs/twitter2.svg);
    padding: 18px;
}

footer .left .socials .instagram :hover {
    width: 24px;
    height: 24px;
    content: url(imgs/instagram2.svg);
    padding: 18px;
}

footer .left .socials .facebook :hover {
    width: 24px;
    height: 24px;
    content: url(imgs/facebook2.svg);
    padding: 18px;
}

footer .left h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 60px;
    color: #E1D4C9;
}

footer .left h1 span {
    font-family: Inter;
    font-weight: 600;
    font-size: 60px;
    color: #B0907A;
    font-style: italic;
}

footer.right {
    display: flex;
}

footer .right p {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: #E1D4C9;
    display: inline;
}

footer .right h4 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    color: #E1D4C9;
    margin-bottom: 40px;
}

footer .right {
    margin-right: 100px;
    margin-top: 132px;
    margin-bottom: 132px;
}

footer .right div {
    margin-bottom: 16px;
}

footer .left div {
    display: flex;
    gap: 12px;
}

@media(max-width:1100px) {

    footer {
        flex-direction: column;
    }

    footer .left {
        margin-bottom: 0;
        margin: 100px 60px 0;
    }

    footer .right {
        margin-top: 0;
        margin-left: 60px;
    }
}

@media(max-width:800px) {
    body {
        padding: 0 28px;
    }

    header nav, header .left_header {
        display: none;
    }

    header .menu1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .section1 .contener {
        margin-left: 0;
    }

    main .section1 h1 {
        font-size: 45px;
    }

    main .section1 h1 span {
        font-size: 45px;
    }

    footer .left h1 {
        font-size: 45px;
    }

    footer .left h1 span {
        font-size: 45px;
    }
}

@media(max-width:700px) {

    main .section1 .collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    main .section1 .arrow {
        display: flex;
        justify-content: center;
    }
}

@media(max-width:520px) {
    body {
        padding: 0 16px;
    }

    main .section1 h1 {
        font-size: 32px;
    }

    main .section1 h1 span {
        font-size: 32px;
    }

    footer {
        gap: 40px;
    }

    footer .left h1 {
        font-size: 32px;
    }

    footer .left h1 span {
        font-size: 32px;
    }

    footer .right {
        margin: 0 16px 60px;
    }

    footer .left {
        margin: 60px 16px 0;
    }
}